.App {
    text-align: center;
  }

  .form-fields{
    background-color: aqua;
    border-radius: 30px;
    margin: auto;
    width: 300px;
    height: 30px;
    padding: 10px;
    margin-top: 20px;


  }
  submit-input{
    width: 300px;
  }
  